@charset "utf-8";
/* CSS Document */

body{
font-family:  "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif;
color: #111111;
font-size: 15px;
line-height: 1.6em;
border-top: 2px solid #E50112;
min-width: 980px;
}

img{
display: block;
image-rendering: -webkit-optimize-contrast;/* Google chrome image rendering */
}

.head{
width: 960px;
margin: 0 auto;
min-height: 85px;
}

h1.logo{
width: 340px;
float: left;
margin-right: 70px;
margin-top: 10px;
}

ul.head-menu{
width: 310px;
float: left;
margin-top: 40px;
}

ul.head-menu li{
float: left;
font-size: 12px;
}

ul.head-menu li a{
padding: 0 3px;
}
ul.head-menu li a:link , ul.head-menu li a:visited{
color: #000;
text-decoration: none;
}
ul.head-menu li a:hover , ul.head-menu li a:active{
color: #e60012;
text-decoration: none;
}



#side .gsc-control-cse {
border: 1px solid #afe5fd;
}

.gsib_a {
padding: 0 !important;
}

.gsc-input-box {
overflow: hidden !important;
margin-top: -3px;
}

.search{
width: 230px;
float: right;
margin-top: 10px;
}
.search .gsc-search-button {
height: 27px!important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
height: 13px !important;
margin-top: 2px !important;
min-width: 13px !important;
padding: 6px 15px !important;
width: 13px !important;
}



.slide-bg{
background: #F8F8F8;
border-top: 1px solid #dadada;
}





.nav-bg{
background: url(../images/nav_bg.jpg) repeat-x top left;
height: 42px;
margin-bottom: 20px;
box-shadow:0px 0px 3px 2px #bababa;
-moz-box-shadow:0px 0px 3px 2px #bababa;
-webkit-box-shadow:0px 0px 3px 2px #bababa;
}

.subnav-bg{
background: url(../images/nav_bg.jpg) repeat-x top left;
height: 42px;
}


ul.nav{
width: 960px;
margin: 0 auto;
}
ul.nav li{
width: 160px;
height: 42px;
float: left;
}

ul.nav li a{
display: block;
width: 160px;
height: 42px;
text-indent: -9999px;
}



.dropmenu{
  *zoom: 1;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a{
  display: block;
  margin: 0;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{

}


#dropmenu li ul li{
overflow: hidden;
height: 0;
transition:all 0.2s linear;
-webkit-transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
-ms-transition:all 0.2s linear;
-o-transition:all 0.2s linear;
}
#dropmenu li:hover ul li{
overflow: visible;
height: 42px;
}






ul.nav li.nav01 a:link , ul.nav li.nav01 a:visited{
background: url(../images/nav01.jpg) no-repeat top left;
}
ul.nav li.nav01 a:hover , ul.nav li.nav01 a:active{
background: url(../images/nav01_on.jpg) no-repeat top left;
}

ul.nav li.nav02 a:link , ul.nav li.nav02 a:visited{
background: url(../images/nav02.jpg) no-repeat top left;
}
ul.nav li.nav02 a:hover , ul.nav li.nav02 a:active{
background: url(../images/nav02_on.jpg) no-repeat top left;
}

ul.nav li.nav03 a:link , ul.nav li.nav03 a:visited{
background: url(../images/nav03.jpg) no-repeat top left;
}
ul.nav li.nav03 a:hover , ul.nav li.nav03 a:active{
background: url(../images/nav03_on.jpg) no-repeat top left;
}

ul.nav li.nav03-1 a:link , ul.nav li.nav03-1 a:visited{
background: url(../images/nav03-1.jpg) no-repeat top left;
}
ul.nav li.nav03-1 a:hover , ul.nav li.nav03-1 a:active{
background: url(../images/nav03-1_on.jpg) no-repeat top left;
}

ul.nav li.nav03-2 a:link , ul.nav li.nav03-2 a:visited{
background: url(../images/nav03-2.jpg) no-repeat top left;
}
ul.nav li.nav03-2 a:hover , ul.nav li.nav03-2 a:active{
background: url(../images/nav03-2_on.jpg) no-repeat top left;
}

ul.nav li.nav03-3 a:link , ul.nav li.nav03-3 a:visited{
background: url(../images/nav03-3.jpg) no-repeat top left;
}
ul.nav li.nav03-3 a:hover , ul.nav li.nav03-3 a:active{
background: url(../images/nav03-3_on.jpg) no-repeat top left;
}

ul.nav li.nav04 a:link , ul.nav li.nav04 a:visited{
background: url(../images/nav04.jpg) no-repeat top left;
}
ul.nav li.nav04 a:hover , ul.nav li.nav04 a:active{
background: url(../images/nav04_on.jpg) no-repeat top left;
}


ul.nav li.nav04-1 a:link , ul.nav li.nav04-1 a:visited{
background: url(../images/nav04-1.jpg) no-repeat top left;
}
ul.nav li.nav04-1 a:hover , ul.nav li.nav04-1 a:active{
background: url(../images/nav04-1_on.jpg) no-repeat top left;
}

ul.nav li.nav04-2 a:link , ul.nav li.nav04-2 a:visited{
background: url(../images/nav04-2.jpg) no-repeat top left;
}
ul.nav li.nav04-2 a:hover , ul.nav li.nav04-2 a:active{
background: url(../images/nav04-2_on.jpg) no-repeat top left;
}

ul.nav li.nav04-3 a:link , ul.nav li.nav04-3 a:visited{
background: url(../images/nav04-3.jpg) no-repeat top left;
}
ul.nav li.nav04-3 a:hover , ul.nav li.nav04-3 a:active{
background: url(../images/nav04-3_on.jpg) no-repeat top left;
}

ul.nav li.nav05 a:link , ul.nav li.nav05 a:visited{
background: url(../images/nav05.jpg) no-repeat top left;
}
ul.nav li.nav05 a:hover , ul.nav li.nav05 a:active{
background: url(../images/nav05_on.jpg) no-repeat top left;
}

ul.nav li.nav06 a:link , ul.nav li.nav06 a:visited{
background: url(../images/nav06.jpg) no-repeat top left;
}
ul.nav li.nav06 a:hover , ul.nav li.nav06 a:active{
background: url(../images/nav06_on.jpg) no-repeat top left;
}




.wrap{
width: 960px;
margin: 0 auto;
}

.top-linkL{
width: 703px;
float: left;
}

.title01{
border-top: 3px solid #e60012;
}
.title01 span{
display: block;
background: #f2f1f1;
border: 1px solid #dbdbdb;
width: 686px;
margin-top: 3px;
margin-bottom: 10px;
padding: 8px 0 8px 15px;
font-size: 19px;
color: #111111;
}

.top-linkL ul{
width: 703px;
}

.top-linkL ul li{
width: 230px;
border-right: 2px solid #cdcdcd;
float: left;
margin-right: 9px;
}

.top-linkL ul li.noline{
width: 221px;
float: left;
border: none;
margin: 0px;
}

.top-linkL ul li a{
display: block;
width: 221px;
}
.top-linkL ul li a:hover{
opacity: 0.6;
}

span.top-link-title{
font-size: 18px;
color: #fff;
padding: 8px 0px 8px 15px;
display: block;
margin-bottom: 5px;
}
span.top-link-title01{
background: url(../images/yaji01.gif) no-repeat 200px 15px #e60012;
background-size: 14px;
}
span.top-link-title02{
background: url(../images/yaji02.gif) no-repeat 200px 15px #119700;
background-size: 14px;
}

span.top-link-title03{
background: url(../images/yaji03.gif) no-repeat 200px 15px #3772ae;
background-size: 14px;
}


.top-linkR{
width: 235px;
float: right;
}


.infomation{
width: 590px;
float: left;
}

.infomation02{
width: 710px;
}

h2.info-title {
font-size: 18px;
font-weight: bold;
border-bottom: 2px solid #e60012;
padding: 0 0 5px 15px;
position: relative;
margin-bottom: 20px;
}

h2.info-title span{
position: absolute;
top: 0px;
right: 0px;
display: block;
font-size: 14px;
font-weight: normal;
min-width: 100px;
background: url(../images/infomation-yaji.gif) no-repeat 0px 5px;
padding-left: 13px;
}


.info01{
font-size: 13px;
padding: 0 5px;
color: #3772ae;
}

.infomation dl dt img , .infomation02 dl dt img{
display: inline;
padding-right: 10px;
width: 92px;
height: auto;
}

.infomation dl dd , .infomation02 dl dd{
margin-bottom: 15px;
padding-bottom: 10px;
padding-right: 10px;
border-bottom: 1px dashed #999;
}

.infomation dl dd a:link , .infomation dl dd a:visited , .infomation02 dl dd a:link , .infomation02 dl dd a:visited{
text-decoration: underline;
color: #2a4fa9;
}
.infomation dl dd a:hover , .infomation dl dd a:active , .infomation02 dl dd a:hover , .infomation02 dl dd a:active{
text-decoration: underline;
color: #E60012;
}



.info-R{
width: 340px;
float: right;
}

.movie{
width: 338px;
margin-bottom: 10px;
padding: 15px 0px 5px;
border: 1px solid #cdcdcd;
border-radius: 15px;        /* CSS3草案 */
-webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 15px;   /* Firefox用 */
}

.movie-title{
text-align: center;
font-weight: bold;
font-size: 16px;
border-bottom: 2px solid #3772ae;
padding-bottom: 5px;
}

.movie-box{
width: 300px;
margin: 10px auto 10px;
}

.movie-box iframe{
width: 300px;
height: 170px;
}

.movie-box p{
font-size: 14px;
}

.side-youtube {
width: 338px;
margin-bottom: 10px;
text-align: center;
border: 1px solid #cdcdcd;
border-radius: 15px;        /* CSS3草案 */
-webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 15px;   /* Firefox用 */
}
.side-youtube a {
width: 100%;
padding: 30px 0;
color: #111;
text-decoration: none;
display: block;
}
.side-youtube a img {
width: 100%;
}
.side-youtube a:hover {
opacity: .7;
}
.side-youtube .youtube-img {
width: 260px;
margin: 0 auto 15px;
display: block;
}
.side-youtube .movie-img {
width: 80%;
margin: 15px auto 0;
display: block;
}
.side-youtube h3 {
font-size: 18px;
}
.side-youtube.side-link03 {
width: 208px;
margin-bottom: 10px;
text-align: center;
border: 1px solid #cdcdcd;
border-radius: 15px;        /* CSS3草案 */
-webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 15px;   /* Firefox用 */
}
.side-youtube.side-link03 a {
padding: 25px 0 15px;
}
.side-youtube.side-link03 h3 {
font-size: 16px;
}
.side-youtube.side-link03 .youtube-img {
width: 180px;
margin: 0 auto 15px;
display: block;
}



.purepa{
width: 338px;
padding: 10px 0px 0px;
margin-bottom: 10px;
border: 1px solid #cdcdcd;
border-radius: 15px;        /* CSS3草案 */
-webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 15px;   /* Firefox用 */
}

.purepa-title{
text-align: center;
font-weight: bold;
border-bottom: 2px solid #e60012;
padding-bottom: 5px;
}

.purepa-title img{
width: 290px;
margin: 0 auto;
}

.purepa-box{
width: 300px;
margin: 10px auto 10px;
}

.purepa-img{
width: 70px;
float: left;
margin-right: 10px;
}
.purepa-img img{
width: 100%;
}

.purepa-text span{
font-size: 18px;
}

.purepa-text-link{
background: url(../images/yaji04.gif) no-repeat 0px 5px;
padding-left: 15px;
font-size: 17px;
margin-left: 80px;
margin-top: 20px;
display: block;
}

.handbook{
width: 338px;
padding: 10px 0px 0px;
border: 1px solid #cdcdcd;
border-radius: 15px;        /* CSS3草案 */
-webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 15px;   /* Firefox用 */
}
.handbook-title{
text-align: center;
font-weight: bold;
border-bottom: 2px solid #e60012;
padding-bottom: 5px;
}
.handbook-title img{
width: 290px;
margin: 0 auto;
}
.handbook-box{
width: 300px;
margin: 10px auto 10px;
}
.handbook-text-link{
background: url(../images/yaji04.gif) no-repeat 0px 5px;
padding-left: 15px;
font-size: 17px;
margin-left: 10px;
margin-top: 5px;
display: inline-block;
}

.side_hyoji {
margin-bottom: 10px;
}
.side_hyoji .purepa-box img {
width: 300px;
height: auto;
}

.side_hyoji .purepa-box .purepa-text-link {
margin-top: 10px;
}

.login{
width: 323px;
background: #f5f5f5;
padding: 10px 0 10px 15px;
border-top: 1px solid #cdcdcd;
border-radius: 0 0 15px 15px;        /* CSS3草案 */
-webkit-border-radius: 0 0 15px 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 0 0 15px 15px;   /* Firefox用 */
position: relative;
font-size: 14px;
line-height: 1.4em;
}

.login-btn{
width: 172px;
height: 38px;
position: absolute;
top: 10px;
left: 140px;
}


.foot{
background: #4B4B4B;
margin-top: 60px;
padding: 20px 0px 17px;
}

ul.foot-nav{
width: 960px;
margin: 0 auto 15px;
}

ul.foot-nav li{
color: #fff;
float: left;
font-size: 12px;
}

ul.foot-nav li a{
color: #fff;
padding: 0 3px;
}

address{
color: #fff;
font-style: normal;
text-align: center;
}


.pagetop {
display: none;
position: fixed;
bottom: 105px;
right: 30px;
width: 50px;
height: 50px;
}
.pagetop a {
display: block;
width: 50px;
height: 50px;
}

.pagetop a:hover {
display: block;
}




/* サブページ */

.main{
width: 710px;
float: left;
}

.side{
width: 210px;
float: right;
}

ul.side-link{
width: 210px;
}

ul.side-link li{
width: 202px;
margin-bottom: 10px;
border: 1px solid #bebebe;
padding: 3px;
}
ul.side-link li img{
width: 100%;
}

span.side-link-title{
font-size: 18px;
color: #fff;
padding: 8px 0px 8px 15px;
display: block;
margin-bottom: 3px;
}

span.side-link-title01{
background: url(../images/yaji01.gif) no-repeat 180px 13px #e60012;
background-size: 14px;
}
span.side-link-title02{
background: url(../images/yaji02.gif) no-repeat 180px 13px #119700;
background-size: 14px;
}
span.side-link-title03{
background: url(../images/yaji03.gif) no-repeat 180px 13px #3772ae;
background-size: 14px;
}

ul.side-link li a:hover{
display: block;
opacity: 0.6;
}

.side-link02{
width: 210px;
margin-bottom: 10px;
}
.side-link02 img{
width: 100%;
}


.side-purepa{
width: 208px;
padding: 10px 0px 0px;
margin-bottom: 10px;
border: 1px solid #cdcdcd;
border-radius: 10px;        /* CSS3草案 */
-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
-moz-border-radius: 10px;   /* Firefox用 */
}

.side-purepa-title{
text-align: center;
font-weight: bold;
border-bottom: 2px solid #e60012;
padding-bottom: 5px;
}

.side-purepa-title img{
width: 180px;
margin: 0 auto;
}

.side-purepa-box{
width: 190px;
margin: 10px auto 10px;
}

.side-purepa-img{
width: 60px;
float: left;
margin-right: 10px;
}
.side-purepa-img img{
width: 100%;
}

.side-purepa-text{
font-size: 13px;
line-height: 1.4em;
margin-bottom: 5px;
}

.side-purepa-text span{
font-size: 15px;
line-height: 1.5em;
}

.side-purepa-text-link a{
background: url(../images/yaji04.gif) no-repeat 0px 5px;
padding-left: 15px;
font-size: 15px;
margin-top: 5px;
display: block;
}

.side-login{
width: 208px;
background: #f5f5f5;
padding: 8px 0 10px 0;
border-top: 1px solid #cdcdcd;
border-radius: 0 0 15px 15px;        /* CSS3草案 */
-webkit-border-radius: 0 0 15px 15px;    /* Safari,Google Chrome用 */
-moz-border-radius: 0 0 15px 15px;   /* Firefox用 */
font-size: 14px;
line-height: 1.4em;
text-align: center;
}

.side-login-btn{
width: 162px;
height: 38px;
margin: 5px auto 0;
}
.side-login-btn img{
width: 100%;
}

.side-bnr{
width: 210px;
margin-bottom: 10px;
}
.side-bnr img{
width: 100%;
}

.side-handbook{
width: 208px;
padding: 10px 0px 0px;
margin-bottom: 10px;
border: 1px solid #cdcdcd;
border-radius: 10px;        /* CSS3草案 */
-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
-moz-border-radius: 10px;   /* Firefox用 */
}
.side-handbook-title{
text-align: center;
font-weight: bold;
border-bottom: 2px solid #e60012;
padding-bottom: 5px;
}
.side-handbook-title img{
width: 180px;
margin: 0 auto;
}
.side-handbook-box{
width: 190px;
margin: 10px auto 10px;
}
.side-handbook-text{
font-size: 13px;
line-height: 1.4em;
margin-bottom: 5px;
}
.side-handbook-text-link a{
background: url(../images/yaji04.gif) no-repeat 0px 5px;
padding-left: 15px;
font-size: 15px;
margin-top: 5px;
}

.kz , .kz2{
font-size: 13px;
margin-bottom: 20px;
}



.title02{
border-top: 3px solid #e60012;
width: 710px;
margin-bottom: 20px;
}
.title02 span{
width: 693px;
display: block;
background: #f2f1f1;
border: 1px solid #dbdbdb;
margin-top: 3px;
margin-bottom: 10px;
padding: 8px 0 8px 15px;
font-size: 19px;
color: #111111;
}

/*
.title02{
border-top: 3px solid #d10010;
width: 710px;
margin-bottom: 20px;
}

.title02 span{
width: 693px;
display: block;
border-bottom: 1px solid #bcbcbc;
margin-bottom: 10px;
padding: 10px 0 10px 15px;
font-size: 19px;
color: #d10010;
}
*/



.title-infoSub{
border-top: 3px solid #e60012;
width: 710px;
margin-bottom: 20px;
}
.title-infoSub span{
width: 693px;
display: block;
background: #f2f1f1;
border: 1px solid #dbdbdb;
margin-top: 3px;
margin-bottom: 10px;
padding: 8px 0 8px 15px;
font-size: 17px;
line-height: 1.6em;
color: #111111;
}


.title-infoSub02{
border-top: 3px solid #e60012;
width: 710px;
margin-bottom: 20px;
}
.title-infoSub02 span{
width: 693px;
display: block;
background: #f2f1f1;
border: 1px solid #dbdbdb;
margin-top: 3px;
margin-bottom: 10px;
padding: 8px 0 8px 15px;
font-size: 34px;
line-height: 1.6em;
color: #111111;
}




/* サブページ　トップ画像 */


h2.subPage-top{
margin:0 auto;
width: 961px;
height:150px;
}

h2.subPage-top02{
margin:0 auto;
width: 961px;
height:88px;
}

.subPage-activities{
width: 100%;
height:150px;
background: url(../../activities/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-store{
width: 100%;
height:150px;
background: url(../../activities/images/subpage-title-storeBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-prevention{
width: 100%;
height:150px;
background: url(../../activities/images/subpage-title-preventionBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-prevention{
width: 100%;
height:150px;
background: url(../../activities/images/subpage-title-preventionBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-park{
width: 100%;
height:150px;
background: url(../../activities/images/subpage-title-parkBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-certification{
width: 100%;
height:150px;
background: url(../../certification/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-company{
width: 100%;
height:150px;
background: url(../../company/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-faq{
width: 100%;
height:150px;
background: url(../../faq/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-infomation{
width: 100%;
height:150px;
background: url(../../infomation/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-link{
width: 100%;
height:150px;
background: url(../../link/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-member{
width: 100%;
height:150px;
background: url(../../member/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-purepa{
width: 100%;
height:150px;
background: url(../../purepa/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-type{
width: 100%;
height:150px;
background: url(../../type/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-privacy{
width: 100%;
height:88px;
background: url(../../privacy/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-sitemap{
width: 100%;
height:88px;
background: url(../../sitemap/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-file{
width: 100%;
height:88px;
background: url(../../file/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-contact{
width: 100%;
height:88px;
background: url(../../contact/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-sitepolicy{
width: 100%;
height:88px;
background: url(../../sitepolicy/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}
.subPage-movie{
width: 100%;
height:150px;
background: url(../../movie/images/subpage-titleBg.jpg) no-repeat center center;
margin-bottom: 5px;
}


/* ご案内 */

.riji-img{
width: 220px;
float: left;
}
.riji-img img{
width: 100%;
}

.riji-text01{
width: 470px;
float: right;
}


.table01{
width: 710px;
border-bottom: 1px solid #CDCDCD;
}

.table01 th{
background: #F5F5F5;
width: 150px;
text-align: left;
padding: 15px 0 15px 20px;
border-top: 1px solid #CDCDCD;
}
.table01 td{
padding: 15px 0 15px 20px;
border-top: 1px solid #CDCDCD;
}


.text-link a{
background: url(../images/yaji04.gif) no-repeat 0px 5px;
padding-left: 15px;
text-decoration: underline;
}

dl.enkaku dt{
}

dl.enkaku dd{
margin: -1.6em 0 1em 0em;
padding: 0 0 1em 5em;
border-bottom: 1px dotted #999;
}



.table02{
width: 710px;
border: 1px solid #CDCDCD;
}

.table02 th{
background: #F5F5F5;
text-align: left;
padding: 15px 0 15px 20px;
border-top: 1px solid #CDCDCD;
}
.table02 td{
padding: 15px;
border-top: 1px solid #CDCDCD;
border-left: 1px solid #CDCDCD;
vertical-align: top;
}

.thw270{
width: 270px;
}
.tbw120{
width: 120px;
}

.bgGray{
background: #666 !important;
color: #fff !important;
font-weight: normal !important;
padding: 8px 0 8px 20px;
}
.bgGray{
background: #666 !important;
color: #fff !important;
font-weight: normal !important;
padding: 8px 0 8px 20px;
}
.table02 th.post-frame {
padding: 0 0 0 20px;
}
.post-txt {
width: 120px;
padding-top: 20px;
float: left;
}
.post-img {
width: 135px;
height: auto;
float: right;
}

.map iframe{
width: 710px;
height: 400px;
}




/* 取り組み */

.activ-box{
width: 710px;
padding: 12px 0 20px;
border: 1px solid #cdcdcd;
border-radius: 10px;        /* CSS3草案 */
-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
-moz-border-radius: 10px;   /* Firefox用 */
margin-bottom: 30px;
}


.activ-box01-title{
font-size: 19px;
color: #e60012;
border-bottom: 2px solid #e60012;
padding-left: 20px;
padding-bottom: 5px;
margin-bottom: 15px;
}
.activ-box02-title{
font-size: 19px;
color: #119700;
border-bottom: 2px solid #119700;
padding-left: 20px;
padding-bottom: 5px;
margin-bottom: 15px;
}
.activ-box03-title{
font-size: 19px;
color: #3772ae;
border-bottom: 2px solid #3772ae;
padding-left: 20px;
padding-bottom: 5px;
margin-bottom: 15px;
}


.activ-boxL{
width: 380px;
float: left;
margin-left: 20px;
}

.activ-title01{
background: url(../../activities/images/icon01.gif) no-repeat 0px 0px;
background-size: 19px 29px;
min-height: 29px;
padding: 7px 0 0px 25px;
font-weight: normal;
font-size: 16px;
margin-bottom: 10px;
font-weight: bold;
color: #414141;
}
.activ-title02{
background: url(../../activities/images/icon02.gif) no-repeat 0px 0px;
background-size: 19px 29px;
min-height: 29px;
padding: 7px 0 0px 25px;
font-weight: normal;
font-size: 16px;
margin-bottom: 10px;
font-weight: bold;
color: #414141;
}
.activ-title03{
background: url(../../activities/images/icon03.gif) no-repeat 0px 0px;
background-size: 19px 29px;
min-height: 29px;
padding: 7px 0 0px 25px;
font-weight: normal;
font-size: 16px;
margin-bottom: 10px;
font-weight: bold;
color: #414141;
}



.activ-btn01 a{
border-radius: 5px;        /* CSS3草案 */
-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
-moz-border-radius: 5px;   /* Firefox用 */
background: url(../images/yaji01.gif) no-repeat 270px 12px #e60012;
background-size: 14px;
width: 270px;
color: #fff;
padding: 7px 10px 7px 15px;
font-weight: bold;
margin-top: 15px;
display: block;
}
.activ-btn02 a{
border-radius: 5px;        /* CSS3草案 */
-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
-moz-border-radius: 5px;   /* Firefox用 */
background: url(../images/yaji02.gif) no-repeat 270px 12px #119700;
background-size: 14px;
width: 270px;
color: #fff;
padding: 7px 10px 7px 15px;
font-weight: bold;
margin-top: 15px;
display: block;
}
.activ-btn03 a{
border-radius: 5px;        /* CSS3草案 */
-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
-moz-border-radius: 5px;   /* Firefox用 */
background: url(../images/yaji03.gif) no-repeat 270px 12px #3772ae;
background-size: 14px;
width: 270px;
color: #fff;
padding: 7px 10px 7px 15px;
font-weight: bold;
margin-top: 15px;
display: block;
}


.activ-boxR{
width: 270px;
float: right;
margin-right: 20px;
}
.activ-boxR img{
width: 100%;
}


/* 防災機能駐車場 */

.hukidashi{
background: url(../../activities/images/hukidashi.png) no-repeat top left;
width: 673px;
height: 161px;
position: relative;
margin-top: -30px;
margin-bottom: 40px;
padding-top: 70px;
padding-left: 30px;
}

.huki-title{
font-size: 18px;
font-weight: bold;
color: #f38400;
margin-bottom: 10px;
}

.huki-img{
width: 259px;
height: 94px;
position: absolute;
top: 115px;
right: 20px;
}

.huki-text{
width: 375px;
padding-left: 1em;
text-indent: -1em;
}

.bousai-box{
border: 1px solid #E60012;
border-radius: 10px;
padding: 15px;
margin-bottom: 20px;
}

.prevention-ex{
width: 335px;
margin-bottom: 20px;
}
.prevention-ex img{
margin-bottom: 10px;
width: 100%;
}


/* 公園機能駐車場 */

.park-ex{
padding: 10px 23px 20px;
width: 674px;
background: #f1f5e4;
margin-top: 20px;
border-radius: 10px;        /* CSS3草案 */
-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
-moz-border-radius: 10px;   /* Firefox用 */
}

.park-ex-title{
font-size: 18px;
font-weight: bold;
color: #119700;
background: url(../../activities/images/park-ex-icon.gif) no-repeat center left;
padding-left: 30px;
padding-top: 2px;
min-height: 22px;
margin-bottom: 10px;
}

.park-exImg{
width: 340px;
}
.park-exImg img{
width: 100%;
}

.title03{
border-bottom: 2px solid #e60012;
padding-bottom: 5px;
padding-left: 10px;
font-size: 18px;
margin-bottom: 20px;
}


/* 店舗併用型 */

table.table04{
width: 710px;
border-bottom: 1px solid #CDCDCD;
}

.table04 th{
background: #F5F5F5;
text-align: left;
padding: 5px 0  5px 20px;
border-top: 1px solid #CDCDCD;
}
.table04 td{
padding: 5px 0  5px 20px;
border-top: 1px solid #CDCDCD;
}

.thw100{
width: 100px;
}





/* 国土交通大臣認定駐車場とは */

.w335{
width: 335px;
}
.w335 img{
width: 100%;
}

.cert-title{
border-left: 5px solid #e60012;
margin-bottom: 10px;
padding-left: 7px;
font-size: 16px;
font-weight: bold;
}


.table03{
border: 1px solid #CDCDCD;
}

.table03 th{
background: #F5F5F5;
text-align: left;
padding: 10px;
border-top: 1px solid #CDCDCD;
}
.table03 td{
padding: 10px;
border-top: 1px solid #CDCDCD;
border-left: 1px solid #CDCDCD;
}

.tbw710{
width: 710px;
}

.val td {
vertical-align: middle;
}
.val_th th {
vertical-align: middle;
}

/* 180330 追記　認定品表示板状況表 */
.hyoujiban_table {
margin: 0 50px 0 50px;
}
.kakko_box {
    position: relative;
    margin-bottom: 50px;
    padding: 0 30px;
    float: left;
/*
    border-radius: 15px;
    border-left: 1px solid #555;
    border-top: 1px solid #fff;
    border-right: 1px solid #555;
    border-bottom: 1px solid #fff;*/
}
.table_kome {
display: none;
margin-right: 8px;
float: left;
font-size: 22px;
line-height: 170px;
}
.fts14 {
  font-size: 14px;
}
.fts12 {
  font-size: 12px;
}



/* フラット式・スキップ式・連続傾床式 */

.type-box{
width: 710px;
padding: 12px 0 20px;
border: 1px solid #cdcdcd;
border-radius: 10px;        /* CSS3草案 */
-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
-moz-border-radius: 10px;   /* Firefox用 */
margin-bottom: 30px;
}

.type-box02{
width: 660px;
margin: 0 auto;
}

.type-boxL{
width: 410px;
float: left;
}

.type-boxR{
width: 250px;
float: right;
}

.type-box-title{
font-size: 19px;
color: #e60012;
border-bottom: 2px solid #e60012;
padding-left: 25px;
padding-bottom: 5px;
margin-bottom: 15px;
}

.type-title{
background-size: 19px 29px;
min-height: 29px;
padding: 7px 0 0px 0px;
font-size: 16px;
margin-bottom: 10px;
font-weight: bold;
}

.type-ex{
width: 315px;
margin-top: 10px;
}




/* よくあるご質問 */

dl.faq dt{
clear:both;
margin-bottom: 15px;
font-weight: bold;
}

dl.faq dd{
clear:both;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px dashed #999;
}

.q{
background: #CCC;
display: block;
width: 40px;
height: 40px;
line-height: 40px;
float: left;
text-align: center;
margin-right: 20px;
font-size: 24px;
border-radius: 50%;		/* CSS3草案 */
-webkit-border-radius: 50%;	/* Safari,Google Chrome用 */
-moz-border-radius: 50%;	/* Firefox用 */
font-weight: normal;
}


.a{
background: #c0000f;
display: block;
width: 40px;
height: 40px;
line-height: 40px;
float: left;
text-align: center;
margin-right: 20px;
font-size: 24px;
border-radius: 50%;		/* CSS3草案 */
-webkit-border-radius: 50%;	/* Safari,Google Chrome用 */
-moz-border-radius: 50%;	/* Firefox用 */
color: #fff;
}

.faq-text{
padding-top: 10px;
display: block;
float: left;
width: 650px;
font-size: 16px;
}
.q_come {
	width: 650px;
	margin-top: 15px;
}
.q_come p {
	width: 60%;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}
.q_come_img01 {
	width: 23%;
	height: auto;
	float: left;
}
.q_come_img02 {
	width: 40%;
	height: auto;
	float: right;
}
.q_come2 {
	margin-top: 15px;
	margin-left: 20px;
}
.q_come3 {
	margin-left: 40px;
}


/* お問い合わせ内テーブル関連 */

.table03 .fl_left {
	float: left;
}
.table03 td strong {
	font-weight: bold;
	font-size: 1.7em;
}
.table03 .textbold {
	font-weight: normal;
	font-size: 1.7em;
}
.tbw650{
width: 650px;
}
.tbw130{
width: 130px;
}
.tbw110{
width: 110px;
}
.tbw270{
width: 270px;
}
.tbw35p {
width: 35%;
}
.tbw20p {
width: 20%;
}
.tbw15p {
width: 10%;
}
.h40 {
	height: 45px;
}
.tb_em_text {
	font-style: normal;
	font-size: 0.8em;
}
.bd_left {
	border-left: 1px solid #CDCDCD;
}
.tb_img {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
}
.q9_pic_center {
	width: 95%;
	margin: 0 auto;
}
.q9_pic_center img {
	width: 47%;
	height: auto;
}
.q9_pic_center img:last-child {
	margin-left: 6%;
}
.q11_tb th {
width: 120px;
box-sizing: border-box;
}
.q11_tb td {
width: 265px;
box-sizing: border-box;
}
.q11_img {
	width: 200px;
	height: auto;
	margin: 0 auto;
	display: block;
}



/* 会員紹介 */


.menber-name{
font-size: 16px;
font-weight: bold;
}

ul.member{
width: 710px;
}

ul.member li{
padding: 0 15px;
float: left;
width: 325px;
min-height: 220px;
}

ul.member li img{
width: 100%;
}

.member-logo{
margin-bottom: 20px;
}

.menber-camp{
display: block;
padding-left: 6em;
text-indent: -6em;
}


ul.member02 li ul li.mem02L{
width: 250px;
margin-right: 10px;
float: left;
font-weight: bold;
}
ul.member02 li ul li.mem02R{
width: 450px;
float: left;
}
ul.member02 li ul{
border-bottom: 1px dashed #999;
padding-bottom: 10px;
margin-bottom: 10px;
}




/* ぷれぱ */

.purepa-new{
width: 240px;
float: left;
}
.purepa-new img{
border: 1px solid #d2d2d2;
width: 238px;
}

.purepa-newText{
width: 440px;
float: right;
}

table.purepa-about{
width: 440px;
margin-top: 10px;
}

table.purepa-about th{
text-align: left;
padding: 5px 10px 0 5px;
border-bottom: 1px dashed #999;
font-weight: normal;
}

table.purepa-about td{
text-align: left;
padding: 5px 0;
border-bottom: 1px dashed #999;
}

.back{
width: 142px;
height: auto;
float: left;
}
.back img{
border: 1px solid #d2d2d2;
width: 140px;
}

.back-text{
width: 173px;
float: right;
}


ul.link li{
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px dashed #999;
}


/* サイトマップ */

ul.sitemap{
width: 280px;
float: left;
}

ul.sitemap li{
background: url(../images/infomation-yaji.gif) no-repeat 0px 7px;
padding-left: 13px;
}

ul.sitemap li.sitemap_sub{
background: none;
}




/* 会員専用ページ */

.category{
font-size: 16px;
font-weight: bold;
padding: 10px 0 10px 30px;
background: url(../images/yaji05.png) no-repeat 10px 15px #F2F1F1;
border-bottom: 1px dashed #999;
cursor: pointer;
}
.category:hover{
color: #E60012;
}
.category .category_tlink {
color: #000;
}
.category .category_tlink:visited {
color: #000;
}
.category .category_tlink:hover {
color: #E60012;
}
.category .category_tlink:active {
color: #E60012;
}
.category img{
display: inline;
height: 14px;
padding-left: 15px;
}

ul.file-menu li{
border-bottom: 1px dashed #999;
padding: 15px 10px;
}

ul.file-menu li a{
font-size: 16px;
}

ul.file-menu li a:link , ul.file-menu li a:visited{
color: #2a4fa9;
}
ul.file-menu li a:hover , ul.file-menu li a:active{
text-decoration: underline;
color: #E60012;
}

ul.file-menu li img{
display: inline;
height: 14px;
padding-left: 10px;
opacity: 0.8;
}

/* 動画一覧 */
.movie-box01{
width: 100%;
margin: 10px auto 10px;
}
.movie-box01 iframe{
width: 709px;
height: 399px;
}
.movie-box02{
width: 100%;
margin: 10px auto 0;
}
.movie-box02 iframe{
width: 334px;
height: 188px;
}
.cert-title {
margin-top: 50px;
}
.center-link {
  text-align: center;
}
.center-link p {
  display: inline-block;
}
.center-link p a {
  text-align: center;
}
.center-link .activ-btn03 a {
  width: auto;
  text-align: left;
  padding: 7px 30px 7px 15px;
  background-position: right 15px top 12px;
  font-size: 13px;
}

/* お問い合わせ */

table.form{
width: 710px;
margin-top: 20px;
}

table.form th{
background: #f5f5f5 none repeat scroll 0 0;
border-top: 1px solid #cdcdcd;
padding: 15px 15px 15px 20px;
text-align: left;
width: 150px;
vertical-align: middle;
}

table.form th.ppBox{
border-bottom: 1px solid #cdcdcd;
}

table.form textarea.pp{
width: 630px;
height: 200px;
padding: 5px 20px;
margin: 10px auto 5px;
font-size: 14px;
line-height: 1.5em;
}


table.form td{
width: 505px;
vertical-align: top;
text-align: left;
padding: 20px 0 20px 20px;
word-break: break-all;
border-bottom: 1px solid #cdcdcd;
}

table.form td.borderT{
border-top: 1px solid #cdcdcd;
}

table.form .button{
border-top: 1px solid #cdcdcd;
border-bottom: none;
}

.ex , .ps{
font-size: 14px;
color: #666;
}

.w200{
width: 200px;
height: 30px;
border: 1px solid #999;
padding: 0px 10px;
}
.w300{
width: 300px;
height: 30px;
border: 1px solid #999;
padding: 0px 10px;
}

.w360{
width: 360px;
border: 1px solid #999;
padding: 5px 10px;
}

.go_left{
float: left;
margin-right: 10px;
margin-bottom: 5px;
}


td.button div{
width: 315px;
margin: 0 auto;
}

input.form_btn{
width: 150px;
height: 40px;
line-height: 40px;
background: #666;
border: none;
color: #fff;
font-size: 16px;
font-weight: bold;
font-family:Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
cursor: pointer;
}



input.form_btn:hover{
width: 150px;
height: 40px;
line-height: 40px;
background: #C0000F;
color: #fff;
font-size: 16px;
font-weight: bold;
font-family:Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif ;
}




.tbw150{
width: 150px;
}


/* インフォメーション 17.09.08 */

.info-img703{
width: 300px;
float: left;
margin-right: 10px;
margin-top: 40px;
}


















a{
text-decoration: none;
}

a.a01:link , a.a01:visited{
color: #111111;
}
a.a01:hover , a.a01:active{
color: #e60012;
}

a.a02:link , a.a02:visited{
color: #e60012;
}
a.a02:hover , a.a02:active{
color: #2a4fa9;
text-decoration: underline;
}

a.a03:link , a.a03:visited{
color: #111111;
text-decoration: underline;
}
a.a03:hover , a.a03:active{
color: #e60012;
text-decoration: underline;
}

a.a04:link , a.a04:visited{
color: #2a4fa9;
}
a.a04:hover , a.a04:active{
color: #e60012;
text-decoration: underline;
}

.red{
color: #e60012;
}

.textR{
text-align: right;
}

.textC{
text-align: center !important;
}

.mt10{
margin-top: 10px;
}

.mt15{
margin-top: 15px;
}

.mt20{
margin-top: 20px;
}

.mt50{
margin-top: 50px;
}


.mb10{
margin-bottom: 10px;
}

.mb20{
margin-bottom: 20px;
}

.mb30{
margin-bottom: 30px;
}

.mb40{
margin-bottom: 40px;
}

.fs12{
font-size: 12px;
}

.fs14{
font-size: 14px;
}


.btn a{
display: block;
}
.btn a:hover{
opacity: 0.6;
}

.db{
display: block;
}

.fwb{
font-weight: bold;
}

.fwn{
font-weight: normal;
}

.fL{
float: left;
}

.fR{
float: right;
}

.clr{
clear: both;
}


.clearfix:after { /*floatの解除、ここがポイント*/
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px; /*IE6、7対策*/
}
* html .clearfix {
	height: 1px;
	/*¥*//*/ /*MAC IE5.x対策*/
	height: auto;
	overflow: hidden;
	/**/
}

.smart{
display: none !important;
}
