body {
  max-width: 1920px !important;
  background-color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 12px;
  color: #0c0c0c;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Kv-slider */
.image-gallery {
  overflow: hidden;
  width: 100vw; /* ビューポートに合わせる */
}

.image-gallery .container {
  display: flex;
  width: 100vw; /* 画像の数に応じて調整 */
  transition: transform 1s ease; /* ここでアニメーションの速度とタイプを設定 */
}

.image-gallery .image-item {
  width: 100%; /* コンテナの幅を画像の数で割ったもの */
  flex: 0 0 100%;
  background-color: #fff;
}

.image-item img {
  object-fit: cover;
  height: 300px;
}

/* button */
.all-button-wrap {
  display: flex;
  justify-content: center;
}
.all-button {
  margin: 0 auto;
  text-align: center;
  width: 255px;
  height: 51px;
  padding: 16px 8px 16px 8px;
  border: solid 2px #ec0c19;
  gap: 10px;
  color: #ec0c19;
  background-color: #fff;
  margin-top: 64px;
}

.detail-button-wrap {
  display: flex;
  justify-content: center;
}

.detail-button {
  margin: 0 auto;
  text-align: center;
  width: 255px;
  height: 51px;
  padding: 16px 8px 16px 8px;
  border: solid 2px #ec0c19;
  gap: 10px;
  color: #fff;
  background-color: #ec0c19;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .all-button {
    margin-top: 40px;
  }
}
/* header */

.header-sp-nav {
  display: none;
}

.header-nav-1-button {
  background-color: red;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 20px;
  border: none;
}

/* .header-nav-1-button {
  background-color: red;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  width: 330px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 20px;
  margin-top: 40px;
  border: none;
} */

.header-nav-2-a {
  color: #0c0c0c;
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
}
.header {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 16px;
  padding-bottom: 8px;
}
@media screen and (max-width: 1040px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo-img {
    width: 260px;
    height: 48px;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
  }
  .header-nav-1-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .header-nav-1-li {
    display: flex;
  }
  .header-nav-1-a {
    color: #acacac;
    margin-left: 16px;
  }

  .header-nav-1-a:hover {
    color: red;
  }

  .header-nav-1-button {
    background-color: red;
    color: #fff;
    padding: 8px 12px 8px 12px;
    border: none;
  }
  .header-nav-2-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .header-nav-2-li {
    margin-left: 40px;
  }
  .header-nav-2-a {
    color: #0c0c0c;
    font-weight: 600;
  }
}

/* headerアイコン */
@media screen and (min-width: 768px) {
  a[href*="#info"]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 34px;
    background-image: url(/img/info1.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  a[href*="#question"]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 34px;
    background-image: url(/img/help1.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  a[href*="#contact"]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 34px;
    background-image: url(/img/mail1.png);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .header-sp-hamburger-wrap {
    display: none;
  }
}

/* dropdown */
.list {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  transition: color 0.15s;
  border-bottom: #fff solid 1px;
}
.link:hover,
.link:focus {
  border-bottom: red solid 1px;
}

.link-hover::after {
  content: "▼";
  font-size: 8px;
  margin-left: 4px;
}

.dropDown {
  position: absolute;
  padding-left: 0;
  display: none;
  background-color: #fff;
  color: initial;
  transform: translate(0, 100%);
  z-index: 10;
}

.link:hover > .dropDown,
.link:focus > .dropDown {
  display: block;
  transition: all 1s ease-in-out;
}
.dropDown__item {
  margin-bottom: 16px;
}
.dropDown__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 16px 16px;
  position: absolute;
  left: 50%;
  top: 10px;
  width: 125px;
  background-color: #fff;
  box-shadow: 0px 3px 8px -2px #777;
}

.dropDown__link {
  padding-left: 0;
  transition: color 0.15s;
  color: #000;
}
.dropDown__link:hover,
.dropDown__link:focus {
  color: red;
}
/* hamburger */
.drawer_hidden {
  display: none;
}
@media screen and (max-width: 1040px) {
  .header-bottom-wrap {
    display: none;
  }
  .drawer_hidden {
    display: none;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 1rem;
    padding-left: 24px;
    padding-right: 24px;
  }
  .drawer_open {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    flex-direction: column;
    gap: 5px;
  }

  /* ベースのスタイル */
  .drawer_open span,
  .drawer_open span::before,
  .drawer_open span::after {
    /* 共通のスタイルをここに */
    background-color: #000;
    height: 2px;
    transition: all 0.3s ease;
  }

  .drawer_open span {
    /* 中心の線のスタイル */
    position: relative;
    display: block;
    width: 32px;
  }

  .drawer_open span::before,
  .drawer_open span::after {
    /* 上下の線のスタイル */
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 100%;
  }

  .drawer_open span::before {
    /* 上の線 */
    top: -10px; /* 中央の線からの距離 */
  }

  .drawer_open span::after {
    /* 下の線 */
    bottom: -10px; /* 中央の線からの距離 */
  }

  /* メニューがチェックされたときのスタイル */
  .drawer_hidden:checked + .drawer_open span {
    background-color: transparent; /* 中心の線を透明にする */
  }

  .drawer_hidden:checked + .drawer_open span::before {
    top: 0; /* 上の線を中央に移動 */
    transform: rotate(45deg); /* 45度回転 */
  }

  .drawer_hidden:checked + .drawer_open span::after {
    bottom: 0; /* 下の線を中央に移動 */
    transform: rotate(-45deg); /* -45度回転 */
  }

  .header_nav_content {
    display: none;
    position: absolute;
    top: 100%;
    right: -80%;
    width: 375px;
    background-color: #fff;
    z-index: 1000;
    padding-left: 24px;
    padding-bottom: 144px;
    padding-right: 24px;
  }
  .header_nav_list {
    list-style: none;
    padding: 0;
    padding-top: 24px;
    margin: 0;
  }

  .header-nav-1-a .header-nav-2-a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #ec0c19;
  }
  .header-nav-1-a .header-nav-2-a:hover {
    background-color: #6d99ba;
  }
  .drawer_hidden:checked ~ .header_nav_content {
    display: block;
  }
  .header-nav {
    position: relative;
  }

  .header-hamburger-sub-ul {
    font-size: 10px !important;
    list-style: none;
    text-decoration: none;
    justify-content: start !important;
  }

  .header-hambuger-nav-a {
    display: block;
    white-space: nowrap;
  }
}

/* breadcrumb */

.breadcrumb {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #acacac;
}
/* kv */
.kv-wrap {
  width: 100%;
  position: relative;
  overflow: hidden; /* はみ出したスライドを隠す */
}

.kv-slide {
  width: 450%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
  padding-bottom: 40px;
}

.kv-slide-wrap {
  width: 33.33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.kv-slide-wrap img {
  width: 800px;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .kv-slide-wrap img {
    height: 520px;
  }
}
.slide1 {
  /* スライドさせるために必要なクラス */
  transform: translateX(0);
}
.slide2 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}
.slide3 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}
.kv-li {
  list-style: none;
}

.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.kv-indicator {
  width: 100%;
  position: absolute;
  bottom: 8px;
  display: flex;
  column-gap: 8px; /* 各インジケータ間のスペース */
  z-index: 10;
  justify-content: center; /* 中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}

.kv-indicator li {
  width: 16px; /* 線の長さ */
  height: 1px; /* 線の太さ */
  list-style: none;
  background-color: #acacac; /* 未選択のインジケータの色 */
  border: 1px solid #acacac; /* 周囲のボーダー（必要に応じて調整） */
  cursor: pointer;
}

.kv-indicator li:first-of-type {
  border: #ec0c19 1px solid;
  background-color: red; /* 選択されたインジケータの色 */
}

.kv-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px red;
  border-radius: 70px;
  padding: 16px 40px 16px 40px;
}

.kv-info-main {
  padding-right: 24px;
  border-right: 2px solid #efefef;
  color: red;
  font-weight: 600;
}

.kv-info-txt {
  padding-left: 26px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .kv-info {
    display: block;
    margin: 0 auto;
    border: 2px solid #ec0c19;
  }
  .kv-info-main {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    letter-spacing: 0.075em;
    text-align: left;
    border-right: none;
  }

  .kv-info-txt {
    padding-left: 0;
    border-right: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.075em;
    text-align: left;
  }
}
/* attempt */
.attempt {
  margin-top: 64px;
  background-color: #fff;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 80px;
}

.attempt-main-title {
  margin-top: 8px;
  margin-bottom: 40px;
}
.attempt-main-txt {
  padding-bottom: 20px;
  margin-top: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  font-size: 16px;
  font-weight: 400;
}

.attempt-sub-top-wrap {
  margin-bottom: 24px;
}

.attempt-sub-article-wrap {
  display: flex;
  justify-content: space-between;
}

.attempt-sub-first {
  width: 33%;
}
.attempt-sub {
  margin-left: 24px;
  width: 33%;
}

.attempt-sub-img-img {
  border: 1px solid #efefef;
}

.attempt-sub-txt-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.075em;
  text-align: left;
}

.attempt-sub-txt-txt {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.075em;
  text-align: left;
  color: #ec0c19;
}

@media screen and (max-width: 768px) {
  .attempt {
    padding: 64px 20px;
    margin-top: 0;
  }
  .attempt-main-txt {
    font-size: 14px;
  }
  .attempt-main-kv-img {
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .attempt-sub-bottom-wrap {
    display: none !important;
  }
  .attempt-sub-article-wrap {
    display: block;
  }
  .attempt-sub-first {
    width: 100%;
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid #efefef;
  }
  .attempt-sub {
    display: flex;
    margin-left: 0px;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #efefef;
  }
  .attempt-sub-txt {
    width: 100%;
  }
  .attempt-sub-txt-title {
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.1px;
    letter-spacing: 0.075em;
    text-align: left;
  }
  .attempt-sub-img {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .attempt-main-txt {
    font-size: 12px;
  }

  .attempt-sub-txt-title {
    font-size: 12px;
  }
}

/* daijin */

.daijin {
  background-color: #f2f2f2;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.daijin-wrap {
  display: flex;
}
.daijin-main {
  width: 51%;
}
.daijin-main-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: left;
}

.daijin-main-pc-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 40px;
}

.daijin-img {
  margin-left: 24px;
}

.daijin-img-img {
  width: 516px;
}
.daijin-main-sp-txt {
  display: none;
}

.detail-button-sp {
  display: none;
}

@media screen and (max-width: 1279px) {
  .daijin-wrap {
    display: block;
    height: 100%;
  }
  .daijin-main-pc-txt {
    display: none;
  }
  .detail-button-pc {
    display: none;
  }
  .daijin-img {
    margin: 0;
  }
  .daijin-img-img {
    width: 100%;
  }
  .daijin-main-sp-txt {
    display: block;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.1px;
    letter-spacing: 0.075em;
    text-align: left;
  }
  .detail-button-sp {
    display: block;
    width: 310px;
  }
}
@media screen and (max-width: 768px) {
  .daijin {
    padding: 40px 20px;
  }
  .daijin-main-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 27.5px;
    letter-spacing: 0.075em;
    text-align: left;
  }

  .daijin-main {
    display: block;
  }
}
/* disaster */
.disaster {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.disaster-wrap {
  border: 2px solid #efefef;
  padding: 40px;
}

.disaster-main {
  margin-bottom: 24px;
}
.disaster-mail-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.075em;
  text-align: left;
}
.disaster-sub-wrap {
  display: flex;
  align-items: flex-start; /* 各要素を上端に揃える */
}
.disaster-sub-txt {
  flex: 1; /* これも必要に応じて調整 */
  padding-left: 24px; /* テキストとiframeの間に適切なスペースを確保 */
}
.disaster-sub-txt-detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.075em;
  text-align: left;
}

@media screen and (max-width: 1040px) {
  .disaster-sub-wrap {
    display: block;
    text-align: center;
  }
  .disaster-sub-txt-detail {
    margin-top: 24px;
  }
  .iframe-wrapper {
    width: 100%; /* flex container 内で正しく表示されるように100%の幅を指定 */
    flex: 1; /* flex items が利用可能な空間を均等に分ける */
    padding-bottom: 56.25%; /* 16:9のアスペクト比 */
    position: relative;
    height: 0; /* 高さを0に設定し、paddingで調整 */
  }

  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .disaster {
    padding: 40px 20px;
  }
}

/* information */
.information {
  padding-left: 120px;
  padding-right: 120px;
}

.information-main-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.69px;
  letter-spacing: 0.02em;
  text-align: left;
}

.information-tab-wrap {
  max-width: 1040px;
  margin: 0 auto;
}
.information-tab-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
.information-tab-li {
  display: flex;
  width: 100%;
}
.information-tab-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 16px;
  background-color: #fff;
  flex-grow: 1;
  border: none;

  border-bottom: #efefef solid 2px;
  margin-bottom: 32px;
}
.information-tab-button.selected {
  border-bottom: #ec0c19 solid 2px;
}

.information-date {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #acacac;
  margin-bottom: 8px;
}

.information-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-bottom: 16px;
}
.information-title:hover {
  color: red;
}
.information-title-last {
  margin-bottom: 0;
}

@media screen and (max-width: 1039px) {
  .information {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
  }
  .information-main-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: 0.075em;
    text-align: left;
    margin-bottom: 24px;
  }

  .information-date {
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .information-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 26.1px;
    letter-spacing: 0.075em;
    text-align: left;
  }
}
/* mail_magazine */

.mail_magazine {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 64px;
  padding-bottom: 104px;
}
.mail_magazine-wrap {
  text-align: center;
}

.corner-frame {
  position: relative;
}

.corner {
  position: absolute;
  width: 70px; /* 枠の横幅 */
  height: 24px; /* 枠の縦幅 */
  border: solid 2px #efefef; /* 枠の色と太さ */
}

.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}

.mail_magazine-title {
  padding-top: 22.5px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.075em;
}

.mail_magazine-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.075em;
  padding-left: 40px;
  padding-right: 40px;
}
.detail-button-wrap {
  padding-bottom: 22.5px;
}

@media screen and (max-width: 1039px) {
  .mail_magazine {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* footer */

.footer {
  background-color: #efefef;
  padding: 40px 60px 40px 60px;
}

.footer-logo-img {
  margin-right: 161px;
  margin-bottom: 40px;
}

.footer-nav-title {
  border-bottom: #ec0c19 solid 1px;
  padding-bottom: 8px;
  margin-left: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
}
.footer-nav-ul {
  list-style: none;
  text-decoration: none;
  padding-left: 32px;
}
.footer-nav-li {
  margin-bottom: 8px;
}
.footer-nav-a {
  color: #0c0c0c;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
}

.footer-nav-sub-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: end;
}

.footer-nav-sub-li {
  margin-left: 24px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }
  .footer-nav-sub-li-first {
    margin-left: 0;
  }
  .footer-logo {
    margin-bottom: 48px;
  }

  .footer-nav-title {
    margin-left: 0;
  }

  .footer-nav-ul {
    padding-left: 16px;
  }
  .footer-nav-sub {
    margin-top: 40px;
  }
  .footer-nav-sub-ul {
    justify-content: start;
    padding-left: 0;
  }
  .footer-nav-sub-a {
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}
@media screen and (min-width: 1279px) {
  .footer-wrap {
    display: flex;
  }
  .footer-nav-sub-nav {
    display: flex;
    justify-content: end;
  }

  .footer-nav-ul {
    width: 162px;
  }
  .ul-2 {
    padding-left: 0 !important;
  }
}
.footer-nav-sub-a {
  color: #acacac;
}

.copy {
  color: #acacac;
}

/* page */
.page-main {
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 104px;
}
.page-main-title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.69px;
  letter-spacing: 0.02em;
  text-align: left;
}
.page-section-sub-title {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  align-items: center;
  margin-bottom: 40px;
}
.page-section-sub-title2 {
  margin-top: 40px;
}

.page-section-sub-title-icon {
  display: block;
  border: red solid 5px;
  width: 5px;
  height: 5px;
  margin-right: 8px;
}
.section-wrap-sidebar {
  display: flex;
  justify-content: space-between;
}

.section-section-wrap {
  max-width: 760px;
}
.section-wrap-sub-sidebar {
  max-width: 760px;
}
/* page-section */
.page-section-wrap {
  padding-top: 40px;
  padding-bottom: 104px;
}
.page-section-wrap-end {
  padding-bottom: 0 !important;
}
.page-section-title {
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  letter-spacing: 0.075em;
  text-align: left;
  background-color: #efefef;
  border-left: red 2px solid;
  margin-bottom: 40px;
}

.section-img-wrap {
  display: flex;
}

.section-table-wrap {
  display: flex;
  width: 100%;
  padding-left: 16px;
  border-bottom: 2px solid #efefef;
}

.section-table-wrap-2 {
  display: flex;
}
.section-table-wrap-3 {
  display: flex;
  padding-bottom: 16px;
}
.section-table-img-wrap {
  min-width: 16%;
}

.section-table-wrap-block {
  display: block;
}

.section-table-wrap-start {
  border-top: 2px solid #efefef;
}
.section-img {
  width: 254px;
  height: 254px;
}

.section-text-p-1 {
  width: 490px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-left: 16px;
}
.section-text-p-2 {
  width: 490px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
}

.section-text-p-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 16px;
}

.section-text-p-4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: right;
}

.section-text-p-5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  letter-spacing: 0.075em;
  text-align: right;
  margin-left: 16px;
}

.section-text-p-6 {
  display: block;
  min-width: 10.5%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-text-p-7 {
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  padding-left: 24px;
  min-width: 89.5%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}
.section-text-p-8 {
  display: block;
  min-width: 7%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}
.section-text-p-9 {
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  padding-left: 24px;
  min-width: 93%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}
.section-text-p-10 {
  display: block;
  min-width: 16%;
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;

  padding-top: 10.5px;
  padding-bottom: 10.5px;
}
.section-text-p-11 {
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 84%;
  display: flex;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  align-items: center;
}
.section-text-p-12 {
  display: block;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}
.section-text-p-12 {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}

.section-table-img {
  width: 111px;
  height: 118px;
  gap: 0px;
  opacity: 0px;
}

.section-member-img {
  width: 335px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
}

.section-member-company {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.section-member-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}
.section-table-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 16px;
}
.section-member-wrap {
  display: flex;
  padding-bottom: 40px;
}
.section-member-wrap2 {
  border-bottom: 2px solid #efefef;
}
.section-member-wrap3 {
  padding-bottom: 0;
}
.section-member-sub-wrap {
  width: 335px;
  margin-right: 40px;
}

.section-member-sub-wrap2 {
  margin-right: 0;
}
.section-member-img {
  width: 335px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
}
.border-bottom {
  border-bottom: #000 solid 1px;
}
.section-member-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
}
.map-wrap {
  margin-top: 40px;
  margin-bottom: 24px;
}

/* page-parking */

.page-park-section-wrap {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: lightgray 2px solid;
}
.section-section-park-wrap {
  margin-bottom: 80px;
}
.section-wrap-sub-4 {
  margin-bottom: 16px;
}
.page-park-section-wrap-end {
  margin-bottom: 0;
  border-bottom: none;
}
.page-park-section-sub-title {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  align-items: center;
  margin-bottom: 16px;
}
.page-park-section-img-wrap {
  display: flex;
}
.page-park-section-img-wrap3 {
  margin-bottom: 24px;
}

.section-wrap-sub-2 {
  padding-bottom: 64px;
}

.section-wrap-sub-3 {
  margin-bottom: 32px;
}
.section-text-park-p-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 40px;
  width: 760px;
}
.section-text-park-p-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}
.section-text-park-p-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-bottom: 64px;
  width: 490px;
}
.section-text-park-p-4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-bottom: 16px;
  width: 490px;
}

.section-text-park-p-5 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18.3px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-bottom: 16px;
}

.section-text-park-p-6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 760px;
}
.section-text-park-p-7 {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  border-bottom: #000 1px solid;
  width: 760px;
  color: #000;
}
.section-text-park-p-8 {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-bottom: 104px;
}

.section-text-park-p-9 {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 16px;
}
.section-text-park-p-10 {
  width: 372px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 8px;
}
.page-park-section-img-wrap2 {
  display: flex;
  justify-content: space-between;
}

.page-park-textside-img {
  width: 254px;
  height: 170px;
}
.page-park-example-img {
  width: 372px;
  height: 248px;
}
.page-park-container {
  width: 760px;
  margin: auto;
  background: #ffffff;
}

.page-park-header,
.page-park-section {
  border-bottom: 1px solid #acacac;
}
.section-park-table-img {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* セルの横幅を設定 */
.cell:first-child {
  width: 112px;
}

.cell:last-child {
  flex-grow: 1;
}
/* sidebar */
.section-sidebar {
  width: 240px;
}

.sidebar-li {
  list-style: none;
}

.sidebar-notice {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #acacac;
}
.sidebar-notice-li {
  list-style: none;
}

.sidebar-a {
  font-size: 12px;
  font-weight: 600;
  line-height: 18.3px;
  letter-spacing: 0.075em;
  text-align: left;
  color: #acacac;
}

.sidebar-li {
  display: flex;
  border-left: 2px solid #acacac;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  text-align: left;
  align-items: center;
}

.sidebar-a:hover {
  color: red;
}

.sidebar-li:hover {
  border-left: 2px solid red;
}

.sidebar-sub-li {
  display: flex;
  border-left: 2px solid #acacac;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  text-align: left;
  align-items: center;
}

.sidebar-sub-a {
  font-size: 10px;
  font-weight: 600;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #acacac;
}

.sidebar-sub-a:hover {
  color: red;
}

.sidebar-sub-li:hover {
  border-left: 2px solid red;
}
.sidebar-sub-span {
  margin-right: 8px;
  font-size: 8px;
}
.sidebar-notice-li {
  margin-bottom: 16px;
}
.sidebar-notice-a {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
  color: #000;
  border-bottom: #000 1px solid;
}

/* publications */

.publications-sidebar-li {
  list-style: none;
  display: flex;
  align-items: start;
  margin-bottom: 24px;
}
.publications-sidebar-a {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  color: red;
}
.publications-sidebar-a2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #acacac;
  margin-left: 22px;
}
.section-publications-wrap-sidebar {
  display: flex;
}
.page-publications-wrap2 {
  border-bottom: #efefef 2px solid;
}
.publications-sidebar-icon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-top: 8px;
}
.section-publicaitons-sidebar {
  margin-top: 113px;
  margin-right: 40px;
}
.page-publications-main-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.69px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-publications-wrap {
  display: flex;
  justify-content: start;
  margin-bottom: 64px;
}
.section-publications-wrap2 {
  display: flex;
  margin-top: 34px;
}
.section-publications-text-wrap {
  margin-left: 24px;
  width: 760px;
}
.section-publications-img {
  width: 253px;
  height: 355px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.section-publications-text-p1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}
.section-publications-text-p2 {
  font-size: 10px;
  font-weight: 600;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 16px;
}
.section-publications-text-p3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}
.section-publications-download {
  display: flex;
  justify-content: end;
}
.section-publications-text-p4 {
  display: inline;
  font-size: 10px;
  font-weight: 600;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: right;
  color: red;
  border-bottom: red 1px solid;
}
.page-publications-link1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: #efefef 2px solid;
  width: 680px;
}

.page-publications-link1-a {
  border-bottom: #000 1px solid;
  color: #000;
}
.formlink {
  position: absolute;
}
.selectlink {
  position: relative;
  margin-bottom: 34px;
  padding: 15px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  gap: 16px;
  box-shadow: 0px 0px 6px 0px #00000033;
}

.selectlink:hover {
  border: 2px #333 solid;
}

/* home */
.home-page-main {
  margin-left: 180px;
  margin-right: 180px;
}
.home-article {
  margin-bottom: 16px;
}
.home-date {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.62px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #acacac;
  margin-bottom: 8px;
}

.home-article-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  color: #000;
}

/* single */
.single-main-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.69px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 40px;
}
.single-date {
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
  color: #acacac;
  margin-bottom: 32px;
}

.single-text-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-bottom: 16px;
}

.single-text-2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.1px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 32px;
}
.single-text-3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 32px;
}

.single-text-link {
  color: #000;
  border-bottom: #000 1px solid;
}

/* page-question */

.accordion {
  max-inline-size: 640px;
}

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;

  --background: var(--color-base);
  --background-active: color-mix(in srgb, var(--background) 80%, white);
  --duration: 1s;

  display: flex;
  gap: 1em;
  align-items: center;
  color: var(--color-white);
  text-decoration: unset;
  background-color: var(--background);
  transition: background-color var(--duration);

  &::-webkit-details-marker {
    display: none;
  }

  &:focus-visible {
    background-color: var(--background-active);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--background-active);
    }
  }

  &::before {
    display: inline-block;
    inline-size: 0.5em;
    aspect-ratio: 1;
    content: "";
    border-block-end: 1px solid;
    border-inline-end: 1px solid;
    transition: rotate var(--duration);
    transform-origin: center 0.35em;
    rotate: 315deg;
  }

  &[aria-expanded="true"]::before {
    rotate: 45deg;
  }
}

@media (scripting: none) {
  .panel:target {
    display: revert;
  }
}
.panel {
  display: flex;
}
.page-question-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
  margin-top: 16px;
  margin-left: 16px;
}

.page-question-icon-a {
  margin-top: 16px;
  width: 24px;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 36px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}

.page-question-icon-q {
  width: 24px;
  height: 24px;
  padding-left: 6px;
  margin-left: 16px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.1px;
  letter-spacing: 0.075em;
  text-align: left;
}

.flex {
  display: flex;
}
.question-img {
  margin-top: 32px;
  margin-left: 48px;
}
